* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    text-align: center;
    background: #1C1C1C;
}

.container{
    background: #1F2937;
    max-width: 550px;
}

#metric-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #6943FF;
    padding: 33px 51px;
}

#input-el{
    padding: 10px;
    text-align: center;
    font-size: 30px;
    background: #6943FF;
    border: 1px solid #B295FF;
    color: #FFF;
    font-weight: 700;
    line-height: 2.5;
}

#input-el,
#convert-btn {
    display: block;
    width: 120px;
    margin: 0 auto;
     border-radius: 8px;
}

#convert-btn{
    background: #FFF;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    margin-top: 27px;
}
h1{
    font-size: 24px;
    margin-bottom: 30px;
}
h2{
    color: #CCC1FF;
    font-size: 20px;
    margin-bottom: 9px;
}
p{
    font-size: 14px;
}
section{
    background: #273549;
    margin: 10px;
    padding: 32px 24px;
}